PyQt5==5.15.11            # For GUI components
yt-dlp==2024.8.6          # YouTube video downloading
requests==2.32.3          # For making HTTP requests
mutagen==1.47.0           # Metadata for media files
ffmpeg-python==0.2.0      # Python wrapper for FFmpeg
pillow==10.4.0            # Image processing library (PIL)
pandas==2.2.2             # Data handling, if required
